.skeleton {
	position: relative;
	color: transparent !important;
	user-select: none !important;
	overflow: hidden !important;
	cursor: default !important;
}

.skeleton::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	background: var(--ltns-skeleton-bg-color, #fff) !important;
}

.skeleton::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: -200%;
	width: 200%;
	height: 100%;
	z-index: 999;
	background: linear-gradient(
		90deg,
		var(--ltns-skeleton-bg-color, #fff) 0%,
		transparent 2%,
		var(--ltns-skeleton-sk-color, #5ff) 50%,
		transparent 98%,
		var(--ltns-skeleton-bg-color, #fff) 100%
	);
	animation: ltns-skeleton-animation infinite var(--ltns-skeleton-anim-str, 1300ms ease);
}

@keyframes ltns-skeleton-animation {
	0% {
		transform: translate3d(0%, 0%, 0);
	}
	100% {
		transform: translate3d(150%, 0%, 0);
	}
}
